extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Suzanna Mitchell

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p As a Full Stack JavaScript Developer, I bring versatile skills set to the table, seamlessly bridging the gap between front-end and back-end development. With expertise in both client-side and server-side technologies, I craft engaging and interactive user experiences using modern framworks like React, Vue, or Angular. On the server side, I design robust APIs, manage databases, and ensure smooth application functionality using Node.js and Express. My proficiency in handling the entire development stack empowers me to create end-to-end solutions that deliver innovation, scalability, and user satisfaction.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li 817-627-4542
          li suziequ33@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/suziequ33') GitHub
        a.btn-link(href='https://instagram.com/suziequ33') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back