extends layout.pug

block content

  article.portfolio-intro(style="background-color: #F5F5F5;")

    h1 My Portfolio

    p Welcome to my Portfolio Website, a digital showcase of my journey and accomplishments in the world of web development. This project is designed to encapsulate my skills, creativity, and dedication to crafting engaging and functional web experiences. This portfolio project is strategically designed to shed light on my prowess in server-side JavaScript development with Node.js and Express.


  article.portfolio-project-thumbs
    .projects-box.box.grid(style="background-color: #F5F5F5;")
      each project in projects
        .cell 
          a(href=`/project/${project.id}`, target="_blank")
            if project.image_urls && project.image_urls.length > 1
              img.thumbnail(src=`/static/${project.image_urls[1]}`, alt=`Thumbnail for ${project.project_name}`)
            else 
              p No image available
            h5= project.project_name

//-took me sometime to figure out why the projects and pitures were not woring. I didnt each iterator them then i also didnt loop over them. added the target attribute _blank to open a new window. love this...

