<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body(style="background-color: #734F96")
    #my-info.sidebar(style="background-color: #734F96")
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/image/profile.jpg', alt='Your Profile Picture', width="550", height="350")
        .dev-intro-box

          h5(style="color: black;") Suzanna Mitchell
          p(style="color: black; font-style: italic;")  I am in the process of learning Full Stack JavaScript.
          a(href='/about', style="color: black;") Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          span Suzanna Mitchell

      block content

  script(src='/static/js/script.js')